---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section class='section'>
    <div class='section__wrap'>
      <h1 class='heading'>
        <span class='u-primary'>A(</span>bout Us<span class='u-primary'>)</span>
      </h1>
      <p class='subheading'>
        Community studio to host and promote talents and businesses.
      </p>
    </div>
  </section>
</Layout>
