---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Careers">
  <section class='section'>
    <div class='section__wrap'>
      <header>
        <h1 class='heading u-primary'>Careers</h1>
        <p class='subheading'>
          Join our passionate team at the heart of our community studio, where every career opportunity is a chance to serve, connect, and make a difference.
        </p>
      </header>
      <main></main>
    </div>
  </section>
</Layout>
