---
import Layout from "../layouts/Layout.astro"
---

<Layout title='Day Pass'>
  <section class='section'>
    <div class='section__wrap'>
      <header>
        <h1 class='heading u-primary'>Day Pass</h1>
        <p class='subheading'>
          Be Productive - Just come work the way you want to.
        </p>
      </header>
      <main></main>
    </div>
  </section>
</Layout>
