---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <section class='section'>
    <div class='section__wrap'>
      <header>
        <h1 class='heading'>Day Pass</h1>
        <p class='subheading'>
          Be Productive - Just come work the way you want to - high focus or
          laid back. We've got options for all moods.
        </p>
      </header>
      <main>
        <div class="image">
          <img src"" alt="Day Pass" />
        </div>
      </main>
    </div>
  </section>
</Layout>
