---
import Layout from "../layouts/Layout.astro"
---

<Layout title='Events'>
  <section class='section'>
    <div class='section__wrap'>
      <header>
        <h1 class='heading u-primary'>Events</h1>
        <p class='subheading'>
          From lively music nights to thought-provoking talks, our community
          studio is the heartbeat of local events, where every gathering
          enriches our shared experience.
        </p>
      </header>
      <main></main>
    </div>
  </section>
</Layout>
