---
import Layout from "../layouts/Layout.astro"
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Hero from "../layouts/home_page/Hero.astro"
import Test from "../layouts/home_page/Test.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
---

<Layout>
  <main>
    <Hero />
    <!-- <Test /> -->
    <h1 style='text-align: center'>Book a Day Pass</h1>
    <div
      class='calendly-inline-widget'
      data-url='https://calendly.com/theattentionnetwork-daypass/day-pass?primary_color=ee4845'
      style='min-width:320px;height:700px;'
    >
    </div>
    <script
      type='text/javascript'
      src='https://assets.calendly.com/assets/external/widget.js'
      async></script>
  </main>
</Layout>

<style>
  main {
    position: relative;
    /* z-index: -1; */
  }
</style>
