---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Header2 from '../components/Header2.astro';
import Section1 from '../layouts/home_page/Section1.astro';
import Test from '../layouts/home_page/Test.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead
			title={SITE_TITLE}
			description={SITE_DESCRIPTION}
		/>
	</head>
	<body>
		<Header2 />
		<main>
			<Section1 />
			<!-- <Test /> -->
			<h1 style='text-align: center'>Book a Day Pass</h1>
			<div
				class='calendly-inline-widget'
				data-url='https://calendly.com/theattentionnetwork-daypass/day-pass?primary_color=ee4845'
				style='min-width:320px;height:700px;'
			>
			</div>
			<script
				type='text/javascript'
				src='https://assets.calendly.com/assets/external/widget.js'
				async
			></script>
		</main>
		<Footer />
		<style>
			main {
				position: relative;
				/* z-index: -1; */
			}
		</style>
	</body>
</html>
