---
import Layout from "../layouts/Layout.astro"
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Hero from "../layouts/home_page/Hero.astro"
import Test from "../layouts/home_page/Test.astro"
import Footer from "../components/Footer.astro"
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts"
import SectionDayPass from "./components/SectionDayPass.astro"
import SectionEvents from "./components/SectionEvents.astro"
---

<Layout>
  <main>
    <Hero />
    <SectionEvents />
    <SectionDayPass />
  </main>
</Layout>

<style>
  .section {
    background: white;
  }

  .calendly-inline-widget {
  }

  main {
    position: relative;
    /* z-index: -1; */
  }
</style>
