---
import Layout from "../layouts/Layout.astro"
---

<Layout title='Members'>
  <section class='section'>
    <div class='section__wrap'>
      <header>
        <h1 class='heading u-primary'>Members</h1>
        <p class='subheading'>Coming soon.</p>
      </header>
      <main></main>
    </div>
  </section>
</Layout>
