---
import Layout from "../layouts/Layout.astro"
import WaitlistForm from './components/WaitlistForm.tsx'
---

<Layout title="Waitlist">
  <section class="section">
    <div class="section__wrap">
      <header>
        <h1 class="heading u-primary">Community App Waitlist</h1>
        <p class="subheading">Be the first to use our community app.</p>
        <p>Enter your details below:</p>
        <WaitlistForm client:load />
      </header>
      <main></main>
    </div>
  </section>
</Layout>
