---

---

<header class='header'>
  <nav class='navbar'>
    <a class='logo' href='/'><img src='/logo.png' /></a>
    <div class='internal-links'>
      <ul class='menu'>
        <li class='menu-item'>
          <a href='/about'>About us</a>
        </li>
        <li class='menu-item'>
          <a href='/events'>Community</a>
          <ul class='submenu'>
            <li><a href='/events'>Events</a></li>
            <li><a href='/careers'>Careers</a></li>
            <li><a href='/partners'>Partners</a></li>
            <li>
              <a href='/members'
                >Members
                <span class='tag'>coming soon</span>
              </a>
            </li>
          </ul>
        </li>
        <li class='menu-item'>
          <a href='/daypass'>Community studio</a>
          <ul class='submenu'>
            <li><a href='/daypass'>Day Pass</a></li>
            <li><a href='/cafe'>Café</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
<style>
  .header {
    background: white;
    position: relative;
    margin: 0;
    padding: 0 1em;
    box-shadow: 0 2px 8px rgba(var(--black), 10%);
    font-weight: lighter;
    /* margin-bottom: 50px; */
    padding: 20px 0;
    z-index: 1;
  }
  img {
    height: 40px;
    margin-top: 10px;
  }
  .navbar {
    /* background: #333; */
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    max-width: 1100px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .menu-item {
    position: relative;
    margin-right: 20px;
  }

  .menu-item a {
    display: block;
    padding: 10px;
    color: var(--primary);
    text-decoration: none;
  }

  .submenu {
    width: 150px;
    min-width: max-content;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 100%;
    background: var(--primary);
    list-style: none;
    padding: 0;
    z-index: 3;
    transition:
      opacity 0.5s,
      visibility 0.5s;
  }

  .submenu li a {
    position: relative;
  }

  .tag {
    position: absolute;
    top: -5px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 7px;
    border-radius: 7px;
    font-size: 10px;
  }

  .submenu li a {
    padding: 10px 15px;
    color: white;
    transition: all 0.3s;
  }

  .menu-item:hover > .submenu {
    opacity: 1;
    visibility: visible;
  }

  .menu-item:hover ~ header {
    z-index: 2;
  }

  /* Optional: Add some extra styling for when a submenu item is hovered */
  .submenu li a:hover {
    background: rgba(0, 0, 0, 0.5);
  }
</style>
